@page "/SetView"

<MudStack Spacing="4" Style="margin-top: 2rem;">
    <MudGrid>
        <MudItem xs="9">
            <h1>
                Study Sets
            </h1>
        </MudItem>
        <MudItem xs="3">
            <MudSelect T="string" @bind-Value="sortMethod" OpenIcon="@Icons.Material.Filled.Sort" Margin="Margin.Dense" Label="Sort" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                <MudSelectItem Value="@("Alphabetically")"/>
                <MudSelectItem Value="@("Last Created")"/>
            </MudSelect>
        </MudItem>
    </MudGrid>
    @if (StudySets != null)
    {
        @foreach (var studySet in StudySets)
        {
            <a href="#">
                <MudCard Elevation="3">
                    <MudCardContent>
                        <MudText>@studySet.Name</MudText>
                    </MudCardContent>
                </MudCard>
            </a>
        }
    }
</MudStack>

@code {
    string _sortMethod;

    string sortMethod
    {
        get => _sortMethod;
        set
        {
            _sortMethod = value;
            if (StudySets == null) return;
            switch (sortMethod)
            {
                case "Last Created":
                    StudySets.Sort((s1, s2) => s2.CreatedAt.CompareTo(s1.CreatedAt));
                    break;
                case "Alphabetically":
                default:
                    StudySets.Sort((s1, s2) => s1.Name.CompareTo(s2.Name));
                    break;
            }
        }
    }

    List<StudySet>? StudySets { get; set; }

    protected override async Task OnInitializedAsync()
    {
        sortMethod = "Alphabetically";
        StudySets = await StudySetRepository.GetAllStudySets();
    }

}